.headerWrapper{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerMainCont {
    width: 100%;
    height: 80px;
    border: 1px solid black;
    display: flex;
}

.logoCont {
    width: 80px;
    height: 80px;
    border: 1px solid red;
}