* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.font-roboto {
  font-family: "__Roboto_792391", "__Roboto_Fallback_792391";
}

.font-josefin {
  font-family: "__Josefin_Sans_f4c4b3", "__Josefin_Sans_Fallback_f4c4b3";
}
